<!DOCTYPE html>
<html>

<head>
    <%- include('./layouts/head') %>
        <style>
            body {
                background-color: #e8f8ff;
            }

            .user-cont {
                max-width: 500px;
            }

            .user-section {
                background-color: #fff;
                padding: 20px;
                box-shadow: 0 0 8px #ddd;
                border-radius: 20px;
            }

            .old-user {
                font-size: 1rem;
                color: var(--app-primary);
            }
        </style>
</head>

<body>
    <main>
        <div class="container user-cont mt-5 mb-5">
            <section class="user-section">
                <form method="post" action="/register" id="form_register" novalidate>
                    <h4 class="title is-4 mb-4 mt-2 text-center">REGISTER</h4>
                    <div class="form-group">
                        <label class="form-label">Username</label>
                        <input id="inp_uname" placeholder="Enter your username" soctavalidate="R,USERNAME"
                            class="form-control" name="uname" type="text"
                            value="<% if(typeof formData !== 'undefined' && JSON.parse(formData)['uname']){ %><%- JSON.parse(formData)['uname'] %><% } %>">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Email address</label>
                        <input id="inp_email" placeholder="Enter your email" soctavalidate="R,EMAIL" class="form-control"
                            name="email" type="email"
                            value="<% if(typeof formData !== 'undefined' && JSON.parse(formData)['email']){ %><%- JSON.parse(formData)['email'] %><% } %>">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input id="inp_pass" placeholder="Enter a password" octavalidate="R,PASS" class="form-control"
                            type="password" name="pass"
                            value="<% if(typeof formData !== 'undefined' && JSON.parse(formData)['pass']){ %><%- JSON.parse(formData)['pass'] %><% } %>">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Re-enter Password</label>
                        <input id="inp_conpass" placeholder="Re-enter password" class="form-control" type="password"
                            name="conPass" sequalto="inp_pass"
                            value="<% if(typeof formData !== 'undefined' && JSON.parse(formData)['conPass']){ %><%- JSON.parse(formData)['conPass'] %><% } %>" equalto:msg="Both passwords do not match">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn w-100 btn-primary btn-rounded btn-md">Create account</button>
                    </div>
                    <hr>
                    <h5 class="text-center title is-5 mb-4">Already have an account?</h5>
                    <a href="/login" class="d-block old-user text-center">Click here to login</a>
                </form>
                </form>
            </section>
        </div>
    </main>
    <%- include('./layouts/scripts') %>
</body>
<script>
    //create new instance of the function
    const myForm = new octaValidate('form_register', {
        successBorder: true,
        strictMode: true,
        strictWords: ["admin", "null", "undefined"]
    });
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#form_register').addEventListener('submit', function (e) {
            if (!myForm.validate()) {
                e.preventDefault();
            } else {
                e.currentTarget.submit();
            }

        })
    })

</script>
<% if(typeof validationErrors !=="undefined" ){ %>
    <script>
        myForm.showBackendErrors(<%- validationErrors %>)
    </script>
    <% } %>

</html>